## MLOps Assignment 1

Q1. Print multiplication table from 1 to 10

In [1]:
#write here and run the cell
for i in range (1,11):
  print(f"Table of {i}: ", end = "  ")
  for j in range(1,11):
    print(i*j,end = ' ')
  print("\n")

Table of 1:   1 2 3 4 5 6 7 8 9 10

Table of 2:   2 4 6 8 10 12 14 16 18 20

Table of 3:   3 6 9 12 15 18 21 24 27 30

Table of 4:   4 8 12 16 20 24 28 32 36 40

Table of 5:   5 10 15 20 25 30 35 40 45 50

Table of 6:   6 12 18 24 30 36 42 48 54 60

Table of 7:   7 14 21 28 35 42 49 56 63 70

Table of 8:   8 16 24 32 40 48 56 64 72 80

Table of 9:   9 18 27 36 45 54 63 72 81 90

Table of 10:   10 20 30 40 50 60 70 80 90 100

Q2. Given two lists, l1 and l2, write a program to create a third list l3 by picking an odd-index element from the list l1 and even index elements from the list l2.

In [2]:
#write here and run the cell
l1 = [1,3,5,7,9]
l2 = [0,2,4,6,8]

l3 = list()

# add odd-index elements from l1 (i=1,3,...)
for i in range(1, len(l1), 2):
    l3.append(l1[i])

# add even-index elements from l2 (i=0,2,...)
for i in range(0, len(l2), 2):
    l3.append(l2[i])

print(l3)

[3, 7, 0, 4, 8]

Q3. Print a this pattern(*)

    * * * * * * * *
      * * * * * * *
        * * * * * *
          * * * * *
            * * * *
              * * *
                * *
                  *

In [3]:
#write here and run the cell

n = 8
for i in range(n):
    print(' ' * (2 * i), end='')
    print('* ' * (n - i))

* * * * * * * *
  * * * * * * *
    * * * * * *
      * * * * *
        * * * *
          * * *
            * *
              *

Q4. Create a function named `exponent(base, exp)` that returns an integer representing the result of raising `base` to the power of `exp`.
`exp` is >0.

base = 5
exponent = 4

5 raises to the power of 4 is: 625
i.e. (5 *5 * 5 *5 = 625)

In [4]:
#write here and run the cell

def exponent(base, exp):
  output = 1
  for i in range(exp):
    output = output*base

  return output


exponent(5,4)

625

Q5. Create a file named test.txt and insert the following content into it.

    line1
    line2
    line3
    line4
    line5
    line6
    line7

Write a program which write all content of a given file (test.txt) into a new file by skipping line number 5 (line5)

In [5]:
#write here and run the cell

# Creating File
f = open("test.txt","w")
L = ["line1\n","line2\n","line3\n","line4\n","line5\n","line6\n","line7\n"]
f.writelines(L)
f.close()

# Reading File
f = open("/content/test.txt","r")
i = 1;
while True:
  data = f.readline()
  if i == 5:
    pass
  elif data =="":
    break
  else:
    print(data)
  i = i+1
f.close()

line1

line2

line3

line4

line6

line7

Q6. Write a program which receives three names from the user in a single input() function call.

    Input: IIT JODHPUR RAJASTHAN

    Output:
    IIT
    JODHPUR
    RAJASTHAN

In [6]:
#write here and run the cell

string = input(" Enter string of three words.")
for i in string.split(" "):
  print(i)

 Enter string of three words.IIT JODHPUR RAJASTHAN
IIT
JODHPUR
RAJASTHAN

Q7. Write a program to define a function called show_employee() with the following requirements:

*   It should take the employee's name and salary as input and display both.
*   If the salary is not provided in the function call, assign a default value of 9000 to it.

After passing:

showEmployee("Bill Gates", 12000)

showEmployee("Elon Musk")

It should print:

Name: Bill Gates salary: 12000

Name: Elon Musk salary: 9000

In [7]:
#write here and run the cell
def show_employee(employee_name, employee_salary = 9000):
  print(f"{employee_name} salary: {employee_salary}")

show_employee("Bill Gates", 12000)

show_employee("Elon Musk")

Bill Gates salary: 12000
Elon Musk salary: 9000

Q8. Write a program to identify words that contain both letters and digits from a given input string.

    Given str1 = "Harry25 is Gryffindor Wizard50 and cursed"

    Output:
    Harry25
    Wizard50

In [8]:
#write here and run the cell

str1 = "Harry25 is Gryffindor Wizard50 and cursed"
for i in str1.split(" "):
  if i.isalpha():
    pass
  else:
    print(i)

Harry25
Wizard50

Q9. Write a program to substitute each special character in the given string with the symbol #.

    Given: str1 = '/*Modi is @Politician & Melony!!'

    Output: ##Modi is #Politician # Melony##

In [9]:
#write here and run the cell
str1 = '/*Modi is @Politician & Melony!!'
new = list()
for i in str1:
  if i.isalnum() or i==" ":
    new.append(i)
  else:
    new.append("#")

"".join(new)

'##Modi is #Politician # Melony##'

Q10. Construct a Python set that displays elements from both lists as pairs.

    Given:

    first_list = [2, 3, 4, 5, 6, 7, 8]
    second_list = [4, 9, 16, 25, 36, 49, 64]
    Output: Result is  {(6, 36), (8, 64), (4, 16), (5, 25), (3, 9), (7, 49), (2, 4)}

In [10]:
#write here and run the cell
first_list = [2, 3, 4, 5, 6, 7, 8]
second_list = [4, 9, 16, 25, 36, 49, 64]
output_set = set()
for i in range(len(first_list)):
  new_tuple = (first_list[i], second_list[i])
  output_set.add(new_tuple)

output_set

{(2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64)}

Q11. Define two set A and B consisting of 5 elements. Now print the element after performing


      1.   A-B
      2.   B-A
      3.   A∩B
      4.   A∪B

In [11]:
#write here and run the cell
A = {2,1,5,6,3}
B = {1,5,8,7,9}

print("A-B is: ", A-B)
print("B-A is: ", B-A)
print("A∩B is: ", A&B)
print("A∪B is: ", A|B)

A-B is:  {2, 3, 6}
B-A is:  {8, 9, 7}
A∩B is:  {1, 5}
A∪B is:  {1, 2, 3, 5, 6, 7, 8, 9}

## Object Oriented Programming Exercise 1:

[Classes and Objects in Python](https://pynative.com/python-classes-and-objects/)

[Instance variables in Python](https://pynative.com/python-instance-variables/)

Q12. Create a Vehicle class with max_speed and mileage instance attributes.

In [12]:
#write here and run the cell
class Vehicle:
    def __init__(self, name, max_speed, mileage):
        self.name = name
        self.max_speed = max_speed
        self.mileage = mileage

Q13. Create a child class Bus that will inherit all of the variables and methods of the Vehicle class.

Create a Bus object that will inherit all of the variables and methods of the parent Vehicle class and display it.

In [13]:
#write here and run the cell

class Bus(Vehicle):
    def display(self):
        print(f"Bus name: {self.name}, Maximum speed: {self.max_speed} km/h, Mileage: {self.mileage} km")

bus = Bus("Tata Starbus", 40, 60)
bus.display()

Bus name: Tata Starbus, Maximum speed: 40 km/h, Mileage: 60 km

### Class Inheritance

Q14. Create a Bus class that inherits from the Vehicle class. Give the capacity argument of Bus.seating_capacity() a default value of 50.

Use the following code for your parent Vehicle class.

    class Vehicle:
      def __init__(self, name, max_speed, mileage):
          self.name = name
          self.max_speed = max_speed
          self.mileage = mileage

      def seating_capacity(self, capacity):
          return f"The seating capacity of a {self.name} is {capacity} passengers"

Expected Output:

    The seating capacity of a bus is 50 passengers

In [14]:
#write here and run the cell
class Vehicle:
    def __init__(self, name, max_speed, mileage):
        self.name = name
        self.max_speed = max_speed
        self.mileage = mileage

    def seating_capacity(self, capacity=50):
        return f"The seating capacity of a {self.name} is {capacity} passengers"

class Bus(Vehicle):
    pass

bus = Bus("Bus", 80, 12000)
bus.seating_capacity()

'The seating capacity of a Bus is 50 passengers'

Q15. Create a Bus subclass that inherits from the Vehicle class. By default, the fare for any vehicle is calculated as the seating capacity multiplied by 100. For instances of the Bus class, an additional 10% maintenance fee should be applied to the total fare. Therefore, the final fare for a bus instance will be the sum of the total fare plus an additional 10% of that total fare.

Note: The bus has a seating capacity of 50, so the final fare amount should be 5500. You need to override the fare() method from the Vehicle class in the Bus class.

Use the provided code for the parent Vehicle class. You should access the parent class within a method of the child class.

    class Vehicle:
      def __init__(self, name, mileage, capacity):
        self.name = name
        self.mileage = mileage
        self.capacity = capacity

      def fare(self):
        return self.capacity * 100

    class Bus(Vehicle):
        pass
        School_bus = Bus("School Volvo", 12, 50)
        print("Total Bus fare is:", School_bus.fare())

    Expected Output:

    Total Bus fare is: 5500.0

In [15]:
#write here and run the cell
class Vehicle:
    def __init__(self, name, mileage, capacity):
        self.name = name
        self.mileage = mileage
        self.capacity = capacity

    def fare(self):
        return self.capacity * 100

class Bus(Vehicle):
    def fare(self):
        base_fare = super().fare()
        total_fare = base_fare + (0.10 * base_fare)
        return total_fare


School_bus = Bus("School Volvo", 12, 50)
print("Total Bus fare is:", School_bus.fare())

Total Bus fare is: 5500.0

### Python JSON Exercise
Refer: [Python JSON tutorials](https://pynative.com/python/json/)

Q16. Convert the following dictionary into JSON format

    data = {"key1" : "value1", "key2" : "value2"}
    data = {"key1" : "value1", "key2" : "value2"}

In [16]:
#write here and run the cell

import json


data = {"key1": "value1", "key2": "value2"}

json_data = json.dumps(data)

print(json_data)

{"key1": "value1", "key2": "value2"}

Q17. Sort JSON keys in and write them into a file

    sampleJson = {"id" : 1, "name" : "value2", "age" : 29}

    {
          "age": 29,
          "id": 1,
          "name": "value2"
    }

In [17]:
#write here and run the cell

sampleJson = {"id": 1, "name": "value2", "age": 29}

with open("sorted_sample.json", "w") as file:
    json.dump(sampleJson, file, indent=4, sort_keys=True)

with open("sorted_sample.json", "r") as file:
    sorted_json = json.load(file)
    print(json.dumps(sorted_json, indent=4))

{
    "age": 29,
    "id": 1,
    "name": "value2"
}